<div class="row text-center mt-1">
  <div class="col">
    <h1>Contador</h1>
    <h2>{{ contador$ | async }}</h2>
  </div>
</div>

<div class="row text-center mt-1">
  <div class="col">
    <button (click)="increment()" class="btn btn-primary" style="margin-right: 10px;">Incrementar</button>
    <button (click)="decrement()" class="btn btn-warning">Decrementar</button>
  </div>
</div>

<hr>

<div class="row text-center">
  <div class="col">
    <app-hijo></app-hijo>
  </div>
</div>

<hr>

<div class="row text-center">
  <div class="col">
    <app-switch-value></app-switch-value>
  </div>
</div>